* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

.calendar_table {
    background: orange;
}

.calendar_table thead {
    /* display: inline-block; */
}

.calendar_table thead th {
    border: 1px solid black;
}

/* .calendar_table tbody {
    display: flex;
}
*/
.calendar_table tbody {
    /* display: flex; */
}

.calendar_table th,
.calendar_table td {
    min-width: 40px;
}

.calendar_table tbody td {
    border: 1px solid black;
}

.btn_primary {
    margin: 0 auto;
    background: #306bb8;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.container {
    margin: 0 auto;
    display: flex; 
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.tabelas-container {
    margin-top: 100px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tabelas-container table {
    border-spacing: 0;
}



.tabelas-container table th,
.tabelas-container table td {
    border: 1px solid;
    min-width: 100px;
    height: 40px;
    padding: 5px;
    /* display: inline-flex; */
    justify-content: center;
    align-items: center;
    text-align: left;
}


.tabelas-container table th {
    background: rgba(146, 50, 50, 0.439);
}

.tabelas-container table th.dark {
    background: rgb(49, 44, 44);
}

.tabelas-container table th {
    color: #696868
}

.tabelas-container table td.hora {
    background: #754d4d;
    color: #ffffff;

}

.tabelas-container table td.task {
    background: #424242;
    cursor: pointer;
}

.tabelas-container table th.prev-month {
    background: #000
}

.tabelas-container table th.today, 
.tabelas-container table td.today {
    /* border-color:s red; */
    /* background:  */
    font-weight: 900;
    background: #000;
    color: white;
}


/* button {
    cursor: pointer;
}

.title {
    margin: 10px;
    font-weight: 900;
}


table th {
    background: yellow;
}

table th, td {
    border: 1px solid #000;
    padding: 5px;
    cursor: pointer;
}

table td {
    width: 100px;
    height: 50px;
}

table td.horario {
    background: #c3db9d5b;
    font-size: 28px;
    font-weight: bold;
}
*/
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.37);
    display: none;
    align-items: center;
    justify-content: center;
}

.btn {
    cursor: pointer;
}

#btn_close {
    width: 40px;
    margin-left: auto;
    font-size: 1.2rem;
    background: red;
    color: white;
}

.modal {
    flex-direction: column;
    max-width: 380px;
    padding: 1rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.281);    
    background: white;
    position: relative;
    top: -100px;
    display: flex;
}

.modal table {
    border-spacing: 0;
}

.modal table {
    margin: 1rem 0;
}

.modal table th,
.modal table td {
    border: 1px solid #00000021;
    padding: 3px;
}

.modal table td input {
    display: block;
    margin: 0 auto;
}

.modal h2 {
    margin: 1rem;
}

.modal input,
.modal select,
.modal textarea {
    padding: 6px;
    margin: 5px 0 1rem 0;
    background: #c0c6f5;
    border: none;
    max-width: 100%;
}

.modal textarea {
    resize: none;
}

.modal button {
    display: block;
    font-weight: 800;
    padding: 10px;
    border: none;
    transition: .3s background;
}

.modal button.btn-fechar_janela {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
}

.modal button.btn-fechar_janela:hover {
    background: #8b0404;
}

.modal .btn_primary {
    margin: 0 auto;
    background: #306bb8;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.modal button:hover {
    background: #250a9c;
}

.modal select {
    width: 100%;
    margin: 5px 0 10px;
    padding: 5px;
    cursor: pointer;
}

.modal#rotina-modal {
    width: 100%;
}

.overlay {
    display: none;
}

.mostrar {
    display: flex;
    padding: 50px;
}

.display {
    display: flex;
}